/*css 初始设置字符集*/
@charset "utf-8";
body {
	min-width: 1200px;
	height: auto;
    font-family: 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', "微软雅黑", "Source Sans Pro", "Helvetica Neue" !important;
	font-size: 14px;
	line-height: 1.42857;
	font-weight: 400;
}
